<h1 id="introHeader">
  &lt;h1&gt;<span class="accent">About Us</span>&lt;/h1&gt;
</h1>
<div id="introText">

  <p>We came together as a diverse group of coding wannabes ... bringing a variety of talent from the music, business, education and service industries.  All here for the same goal => to be full stack developers.  After six months of full-time learning, lots of coffee, chocolate, donuts, deep breaths and happy hours ... we have arrived!</p>

  <p>So watch out technology world.  We bring experience in HTML, CSS, JavaScript, Ionic, MongoDB, Express, AngularJS, and Node.js. We support each other through teamwork and leadership and will bring those skills to help you succeed.</p>

  <p id="emphasis">We are Cohort 11!</p>

  <div id="techRow">
    <div class="tech tech1" title="MongoDB"></div>
    <div class="tech tech2" title="AngularJS"></div>
    <div class="tech tech3" title="Node.js"></div>
    <div class="tech tech4" title="HTML5"></div>
    <div class="tech tech5" title="CSS3"></div>
    <div class="tech tech6" title="Javascript"></div>
    <div class="tech tech7" title="Sass"></div>
    <div class="tech tech8" title="jQuery"></div>
    <div class="tech tech9" title="Firebase"></div>
    <div class="tech tech10" title="PostgreSQL"></div>
    <div class="tech tech11" title="Ionic"></div>
    <div class="tech tech12" title="Git"></div>
  </div>

</div>
