<div id="introText">
  <h1>
  &lt;h1&gt;<span class="accent">About Us</span>&lt;/h1&gt;
  </h1>

  <p>We came together as a diverse group of coding wannabes…..bringing a variety of talent from the music, business, education and service industries.  All here for the same goal => to be full stack developers.  After 6 months of full-time learning, lots of coffee, chocolate, donuts, deep breaths and happy hours...we have arrived!</p>

  <p>So watch out technology world.  We bring experience in JavaScript, HTML, CSS, Git,  Ionic, Vim and NodeJS. We support each other through teamwork and leadership and will bring those skills to help you succeed.</p>

  <p>We are Cohort 11!</p>

  <div id="techRow">
    <div class="tech tech1"></div>
    <div class="tech tech2"></div>
    <div class="tech tech3"></div>
    <div class="tech tech4"></div>
    <div class="tech tech5"></div>
    <div class="tech tech6"></div>
    <div class="tech tech7"></div>
    <div class="tech tech8"></div>
  </div>

</div>
