<div id="introText">
  <h1>
  &lt;h1&gt;<span class="accent">About Us</span>&lt;/h1&gt;
  </h1>

  <p>As you vibrate, you will enter into infinite inspiration that transcends understanding. Through Kabala, our brains are opened by energy. The akashic record may be the solution to what’s holding you back from an epic vision of self-actualization.</p>

  <p>You will soon be aligned by a power deep within yourself — a power that is life-affirming, zero-point. The world is approaching a tipping point. Soon there will be a maturing of power the likes of which the planet has never seen.</p>

  <p>You and I are lifeforms of the solar system. By blossoming, we vibrate. The goal of expanding wave functions is to plant the seeds of joy rather than stagnation.</p>

  <div id="techRow">
    <div class="tech tech1"></div>
    <div class="tech tech2"></div>
    <div class="tech tech3"></div>
    <div class="tech tech4"></div>
    <div class="tech tech5"></div>
    <div class="tech tech6"></div>
    <div class="tech tech7"></div>
    <div class="tech tech8"></div>
  </div>

</div>