<div id="studentLifeText">
  <h1>engageCommunity();</h1>

  <p>As an extension of learning our craft, NSS students have been encouraged to engage with the local tech community, and we have taken those suggestions to heart.

  <p>Cohort 11 has participated in meetups, hackathons, technology conferences, and other events outside the classroom. We have volunteered at BarCamp, Music City Code, and Republic Schools, attended Global Game Jam and joined Girl Geek Dinners, WomenGetIT, NashJS, Code for Nashville and Nashville PHP.</p>

  <p>And we're just beginning ...</p>
</div>

<div id="studentHexPics">
  <div class="color">
    <img src="/images/hex3.png" class="hide" alt="preview photos of student life">
  </div>
  <img src="/images/hex3.png" class="hexes" alt="preview photos of student life">
</div>

<div id="studentLifePics">

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="/images/photo.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/images/photo2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/images/photo3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/images/photo3.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="/images/photo3.jpg"></a>
  </div>

</div>
