<div id="studentLifeText">
  <h1>engageCommunity();</h1>

  <p>As an extension of learning our craft, NSS students are encouraged to participate in meetups, hackathons, technology conferences and other events outside the classroom that integrate us into the Nashville technology community at-large.</p>

  <p>Cohort 11 has taken that suggestion to heart.  We have volunteered at BarCamp, Music City Code and Republic Schools, attended Global Game Jam and joined Girl Geek Dinners, WomenGetIT, NashJS, Code for Nashville and Nashville PHP.</p>

  <p>.....and that is just the beginning!</p>
</div>

<div id="studentLifePics">

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="/images/photo.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/images/photo2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/images/photo3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/images/photo3.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="/images/photo3.jpg"></a>
  </div>

</div>
