<h1 id="classBanner">.ourClass:</h1>
<div id="studentPics">

  {% for post in site.posts %}
    {% if post.flipCard == "true" %}
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img src="../images/person-example.jpg">
        <!-- <div class="front" style="background-image: url({{post.imgUrl}})"> -->
        <!-- front content -->
        </div>
        <div class="back">
        <h2>{{post.firstName}} {{post.lastName}}</h2>
        <p>{{post.body}}</p>
        <br>
        <p><a href="{{post.websiteUrl}}">Portfolio</a></p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
