<div id="studentPics">
  <h1>.ourClass:</h1>

  {% for post in site.posts %}
    {% if post.flipCard == "true" %}
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front" style="background-image: url({{post.imgUrl}})">
        <!-- front content -->
        </div>
        <div class="back" style="background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)),url({{post.imgUrl}})">
        <h2>{{post.firstName}} {{post.lastName}}</h2>
        <p>{{post.body}}</p>
        <p><a href="{{post.websiteUrl}}">Portfolio</a> | <a href="{{post.githubUrl}}">Github</a> | <a href="{{post.linkedInUrl}}">LinkedIn</a></p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>